<% if flash[:notice] %>
    <div class="alert alert-success" role="alert"><%= flash[:notice] %></div>
<% end %>

<h2>Created States</h2>

<ul>
  <% State.find_each do |state| %>
      <li><%= state.inspect %></li>
  <% end %>
</ul>

<%= link_to 'Destroy All States', destroy_all_states_path, class: 'btn btn-danger', data: { method: :delete } %>
