<div class="container">
  <h1>Dynamic Form</h1>

  <%= render 'states/create/form', locals: { form: @form } %>

  <hr>

  <%= render 'list' %>
</div>

<script type="text/javascript">
  (function($){

  })(jQuery);
</script>
